# Import Libraries
Import necessary libraries such as pandas, numpy, and any other relevant libraries for data manipulation and analysis.

In [3]:
import pandas as pd
import numpy as np

# Load Data
Load the dataset from the specified file path into a pandas DataFrame.

In [4]:
df0 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d0.csv')
df0.head()
# df0.shape

,Context,Response
0,I'm going through some things with my feelings...,"If everyone thinks you're worthless, then mayb..."
1,I'm going through some things with my feelings...,"Hello, and thank you for your question and see..."
2,I'm going through some things with my feelings...,First thing I'd suggest is getting the sleep y...
3,I'm going through some things with my feelings...,Therapy is essential for those that are feelin...
4,I'm going through some things with my feelings...,I first want to let you know that you are not ...

In [5]:
df1 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d1.csv')
df1.head()
df1.shape

# Remove

(3512, 2)

In [6]:
df2 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d2.csv')
df2.head()
df2.shape

# Remove

(844687, 2)

In [7]:
df3 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d3.csv')
df3.head()

,Questions,Answers
0,My wife and mother are having tense disagreeme...,What you are describing is something psycholo...
1,"I'm planning to have baby, so I have to quit s...",Hi. Good for you in planning ahead to do what...
2,"I have secrets in my mind, and I don't know wh...",It sounds like keeping the secrets has become...
3,I am extremely possessive in my relationships ...,Hi there. It's great you are able to realize ...
4,I had a head injury a few years ago and my min...,You didn't say what or how many medications y...

In [8]:
df4 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d4.csv')
df4.head()

,Unnamed: 0,Questions,Answers
0,0,There are issues from my past that have me ver...,Have you explained to your prospective partner...
1,1,I just took a job that requires me to travel f...,"Congratulations on your new job. Chances are, ..."
2,2,cheerful,Did something happen which made you feel this ...
3,3,I feel that I need to end my present relations...,It sounds like you have some insight into the ...
4,4,"I keep being mean to my best friend, and I don...","Hi Morristown,There's a saying that goes ""hurt..."

In [9]:
df4.drop(columns = "Unnamed: 0", inplace = True)
df4.columns

Index(['Questions', 'Answers'], dtype='object')

In [10]:
df4.head()

,Questions,Answers
0,There are issues from my past that have me ver...,Have you explained to your prospective partner...
1,I just took a job that requires me to travel f...,"Congratulations on your new job. Chances are, ..."
2,cheerful,Did something happen which made you feel this ...
3,I feel that I need to end my present relations...,It sounds like you have some insight into the ...
4,"I keep being mean to my best friend, and I don...","Hi Morristown,There's a saying that goes ""hurt..."

In [11]:
df5 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d5.csv')
df5.head()

,human,ai
0,I've been feeling so sad and overwhelmed latel...,"Hey there, I'm here to listen and support you...."
1,"I recently got a promotion at work, which I th...",I can understand how it can be overwhelming wh...
2,"Well, the workload has increased significantly...",It sounds like you're dealing with a lot of pr...
3,I've been trying to prioritize my tasks and de...,It's great to hear that you're already impleme...
4,You're right. I haven't really opened up about...,"It's completely normal to feel that way, but r..."

In [12]:
df6 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d6_from_parquet.csv')
df6.head()

,question,response_j,response_k,text
0,I'm feeling really guilty about not being able...,It may be helpful to communicate your concerns...,Just accept that you're a bad parent/spouse an...,<s>[INST] I'm feeling really guilty about not ...
1,I'm feeling really lonely and isolated. What c...,"Feeling lonely can be difficult, but there are...","If you're feeling lonely, just try to distract...",<s>[INST] I'm feeling really lonely and isolat...
2,I'm struggling with intrusive thoughts. I keep...,"Intrusive thoughts can be distressing, but the...",Just stop thinking those thoughts. It's not th...,<s>[INST] I'm struggling with intrusive though...
3,I'm feeling really hopeless and I don't see a ...,Hopelessness can be a sign of depression. Let'...,You're being dramatic. Things will get better ...,<s>[INST] I'm feeling really hopeless and I do...
4,I'm feeling really angry and frustrated all th...,It's important to learn how to manage your emo...,Just stop getting so worked up over everything...,<s>[INST] I'm feeling really angry and frustra...

In [13]:
df6.drop(columns = ["response_k", "text"], inplace = True)
df6.head()

,question,response_j
0,I'm feeling really guilty about not being able...,It may be helpful to communicate your concerns...
1,I'm feeling really lonely and isolated. What c...,"Feeling lonely can be difficult, but there are..."
2,I'm struggling with intrusive thoughts. I keep...,"Intrusive thoughts can be distressing, but the..."
3,I'm feeling really hopeless and I don't see a ...,Hopelessness can be a sign of depression. Let'...
4,I'm feeling really angry and frustrated all th...,It's important to learn how to manage your emo...

In [14]:
df7 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d7.csv')
df7.head()

,instruction,input,output
0,"You are a therapy chatbot, designed to offer e...",I'm feeling really guilty about not being able...,It may be helpful to communicate your concerns...
1,"You are a therapy chatbot, designed to offer e...",I'm feeling really lonely and isolated. What c...,"Feeling lonely can be difficult, but there are..."
2,"You are a therapy chatbot, designed to offer e...",I'm struggling with intrusive thoughts. I keep...,"Intrusive thoughts can be distressing, but the..."
3,"You are a therapy chatbot, designed to offer e...",I'm feeling really hopeless and I don't see a ...,Hopelessness can be a sign of depression. Let'...
4,"You are a therapy chatbot, designed to offer e...",I'm feeling really angry and frustrated all th...,It's important to learn how to manage your emo...

In [15]:
df7.drop(columns = "instruction", inplace = True)
df7.head()

,input,output
0,I'm feeling really guilty about not being able...,It may be helpful to communicate your concerns...
1,I'm feeling really lonely and isolated. What c...,"Feeling lonely can be difficult, but there are..."
2,I'm struggling with intrusive thoughts. I keep...,"Intrusive thoughts can be distressing, but the..."
3,I'm feeling really hopeless and I don't see a ...,Hopelessness can be a sign of depression. Let'...
4,I'm feeling really angry and frustrated all th...,It's important to learn how to manage your emo...

In [18]:
df8 = pd.read_csv('/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/d8_from_parquet.csv')
df8.head()
df8.shape

# Remove

(867859, 2)

In [ ]:
newColName = {
    "Context": "input",
    "Response": "output",
    "Questions": "input",
    "Answers": "output",
    "human": "input",
    "ai": "output",
    "question": "input",
    "response_j": "output",
}

dflist = [df0, df3, df4, df5, df6, df7]

for df in dflist:
    df.rename(columns = newColName, inplace = True)

,input,output
0,I'm feeling really guilty about not being able...,It may be helpful to communicate your concerns...
1,I'm feeling really lonely and isolated. What c...,"Feeling lonely can be difficult, but there are..."
2,I'm struggling with intrusive thoughts. I keep...,"Intrusive thoughts can be distressing, but the..."
3,I'm feeling really hopeless and I don't see a ...,Hopelessness can be a sign of depression. Let'...
4,I'm feeling really angry and frustrated all th...,It's important to learn how to manage your emo...

In [28]:
dfs = [df0, df3, df4, df5, df6, df7]

In [29]:
mergedDf = pd.concat(dfs, ignore_index = True)
mergedDf.head()

,input,output
0,I'm going through some things with my feelings...,"If everyone thinks you're worthless, then mayb..."
1,I'm going through some things with my feelings...,"Hello, and thank you for your question and see..."
2,I'm going through some things with my feelings...,First thing I'd suggest is getting the sleep y...
3,I'm going through some things with my feelings...,Therapy is essential for those that are feelin...
4,I'm going through some things with my feelings...,I first want to let you know that you are not ...

In [32]:
mergedDf.to_csv("/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/final.csv", index = False)
print("Merge successful")

Merge successful

In [33]:
final = pd.read_csv("/Users/shubhamfufal/Library/Mobile Documents/com~apple~CloudDocs/2ndSemProject/Bot/Data/final.csv")

In [34]:
final.isna().sum()

input     1469
output    1368
dtype: int64

In [35]:
final.dropna(inplace = True)
final.isna().sum()

input     0
output    0
dtype: int64

In [36]:
final.describe()

,input,output
count,899739,899739
unique,823682,841778
top,I have so many issues to address. I have a his...,"I'm sorry to hear that, Charlie. Can you tell ..."
freq,368,107

In [37]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899739 entries, 0 to 900590
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   input   899739 non-null  object
 1   output  899739 non-null  object
dtypes: object(2)
memory usage: 20.6+ MB

# Basic Data Exploration
Explore the dataset by displaying the first few rows, checking the data types, and calculating descriptive statistics.

In [38]:
print(final.dtypes)

print("Shape:", final.shape)

final.describe()

input     object
output    object
dtype: object
Shape: (899739, 2)

,input,output
count,899739,899739
unique,823682,841778
top,I have so many issues to address. I have a his...,"I'm sorry to hear that, Charlie. Can you tell ..."
freq,368,107

In [5]:
df.isna().sum()

Context         879576
Response        879370
input          1762782
output         1762782
Questions      2612864
Answers        2612864
Unnamed: 0     2614250
human          2611801
ai             2611805
question       2608674
response_j     2608674
response_k     2608674
text           2608013
instruction    2608013
Unnamed: 2     2618520
Unnamed: 3     2618520
Unnamed: 4     2618520
Unnamed: 5     2618520
Unnamed: 6     2618520
Unnamed: 7     2618520
Unnamed: 8     2618520
Unnamed: 9     2618520
Unnamed: 10    2618520
Unnamed: 11    2618520
Unnamed: 12    2618520
Unnamed: 13    2618520
Unnamed: 14    2618445
dtype: int64

# Data Cleaning
Handle missing values, remove duplicates, and correct any inconsistencies in the data.

In [39]:
print(final.columns)

Index(['input', 'output'], dtype='object')

In [40]:
for col in final.select_dtypes(include = ["object"]).columns:
    final[col] = final[col].str.lower().str.strip()
    
df.head()

,input,output
0,I'm feeling really guilty about not being able...,It may be helpful to communicate your concerns...
1,I'm feeling really lonely and isolated. What c...,"Feeling lonely can be difficult, but there are..."
2,I'm struggling with intrusive thoughts. I keep...,"Intrusive thoughts can be distressing, but the..."
3,I'm feeling really hopeless and I don't see a ...,Hopelessness can be a sign of depression. Let'...
4,I'm feeling really angry and frustrated all th...,It's important to learn how to manage your emo...

# Text Cleaning
Removing whitespaces and other characters

In [41]:
!pip install nltk

Collecting nltk
  Using cached nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Using cached click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Collecting joblib (from nltk)
  Downloading joblib-1.5.0-py3-none-any.whl.metadata (5.6 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp39-cp39-macosx_11_0_arm64.whl.metadata (40 kB)
Collecting tqdm (from nltk)
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Using cached nltk-3.9.1-py3-none-any.whl (1.5 MB)
Downloading regex-2024.11.6-cp39-cp39-macosx_11_0_arm64.whl (284 kB)
Using cached click-8.1.8-py3-none-any.whl (98 kB)
Downloading joblib-1.5.0-py3-none-any.whl (307 kB)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, joblib, click, nltk
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5/5 [nltk][32m4/5 [nltk]b]
Successfully installed click-8.1.8 joblib-1.5.0 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1

In [43]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [45]:
nltk.download("stopwords")
nltk.download("wordnet")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shubhamfufal/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/shubhamfufal/nltk_data...

True

In [46]:
lemmatizer = WordNetLemmatizer()
stopWords = set(stopwords.words("english"))

The history saving thread hit an unexpected error (OperationalError('unable to open database file')).History will not be written to the database.

In [47]:
def cleanText(text):
    if not isinstance(text, str):
        return ""
    
    text = text.lower()
    text = re.sub(r"sub(r'[^\w\s]', '', text")
    text = ' '.join([word for word in text.split() if word not in stopWords])
    text = ' '.join([lemmatizer.lemmatize(word) for word in text.split()])

    return text

mergedDf["input"] = mergedDf["input"].apply(cleanText)
mergedDf["output"] = mergedDf["output"].apply(cleanText)

TypeError: sub() missing 2 required positional arguments: 'repl' and 'string'